@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .link-navbar {
    @apply m-2 p-4 bg-white justify-center no-underline self-center font-bold  cursor-pointer border-0 text-center text-gray-800;
  }
  .link-navbarMobile {
    @apply m-1 p-2 bg-white justify-center  font-bold align-middle no-underline self-center cursor-pointer border-0 text-center text-gray-800;
  }
  .paragraf-style {
    @apply bg-red-600 bg-opacity-70 w-full p-3 rounded-3xl mb-2 text-white;
  }
  .heading-style {
    @apply text-white font-bold text-4xl text-center m-4;
  }
  .img-container {
    @apply flex justify-evenly items-center;
  }
  .btn-basic {
    @apply cursor-pointer m-1 p-2 bg-white text-black rounded-lg font-bold;
  }
}
/* border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: transparent;
  color: whitesmoke;
  box-shadow: 7px 5px 18px 10px rgba(0, 0, 0, 0.75);*/
